.proacto-form {
    padding: 64px 0;
}

.checklist-step {
    overflow: hidden;
    max-height: 5000px;
    transition: all .5s .5s;
}

.checklist-step.hidden {
    max-height: 0;
    transition: all .5s;
}

.checklist-block {
    padding: 24px 32px;
    border-radius: 12px;
    border: 4px solid #788CF7;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.checklist-block .checklist-block__validation {
    display: block;
    position: absolute;
    left: 32px;
    bottom: 0;
    padding: 4px 12px;
    border-radius: 16px;
    max-width: calc(100% - 64px);
    color: #fff;
    background-color: #788CF7;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    transform: translateY(50%);
    opacity: 0;
    transition: all .5s;
}

.checklist-block.error .checklist-block__validation {
    opacity: 1;
}

.checklist-block.checklist-baner {
    border-top: 8px solid #788CF7;
}
.checklist-baner__header img {
    display: block;
    max-width: 164px;
    margin: auto 0 auto auto;
}
.checklist-baner__text.hidden {
    display: none;
}

.checklist-baner__progressbar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #E2E2E2;
    margin-top: 40px;
    position: relative;
}
.checklist-baner__progressbar-tumb {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #B6009C;
    transition: all .5s;
}
.checklist-baner__progressbar-label {
    display: block;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 0;
    background-color: #B6009C;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    transition: all .5s;
}

.checklist-block__title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 24px;
}

.checklist-block__description {
    background-color: #F1F3FE;
    padding: 16px 12px;
    border-radius: 16px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
}

.checklist-block__description.bottom {
    margin-bottom: 0;
    margin-top: 24px;
    order: 1;
}

.checklist-block__description p:last-child {
    margin-bottom: 0;
}

.checklist-block input:not([type="checkbox"]):not([type="radio"]) {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    max-width: 545px;
    border: 1px solid #808080;
    padding: 12px;
    border-radius: 24px;
}

.checklist-choise-wrap {
    height: 40px;
}
.checklist-choise-wrap input[type="checkbox"],
.checklist-choise-wrap input[type="radio"]{
    display: none;
    /*width: 40px;*/
    /*height: 40px;*/
    /*position: relative;*/
    /*margin-right: 12px;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/

}

.checklist-choise-wrap label{
    position: relative;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    height: 40px;
}
.checklist-choise-wrap label::before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    margin-right: 12px;

}

.proacto-form input[type="checkbox"] + label::before{
    background-image: url(../img/checkbox.svg);
}
.proacto-form input[type="checkbox"]:checked + label::before{
    background-image: url(../img/checkbox-checked.svg);
}
.proacto-form input[type="radio"] + label::before{
    background-image: url(../img/radio.svg);
}
.proacto-form input[type="radio"]:checked + label::before{
    background-image: url(../img/radio-checked.svg);
}

.checklist-step__foot button{
    padding: 12px 24px;
    border: 1px solid;
    border-radius: 24px;
    margin-right: 12px;
    font-weight: 500;
    transition: all .3s;
}
.checklist-step__foot button.disabled {
    filter: grayscale(1);
    opacity: .5;
}

.checklist-step__foot .checklist-nav__prev {
    border-color: #333330;
    background-color: #fff;
    color: #333333;
}
.checklist-step__foot .checklist-nav__prev:hover {
    border-color: #B6009C;
}

.checklist-step__foot .checklist-nav__next {
    border-color: #B6009C;
    background-color: #B6009C;
    color: #fff;
}


.checklist-loading {
    overflow: hidden;
    padding: 52px 0 64px;
    border-radius: 12px;
    border: 4px solid #788CF7;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all .5s;
    margin-bottom: 40px;
}
.checklist-loading svg {
    animation: rotating 1s infinite running;
}
.checklist-loading.hidden {
    margin-bottom: 0;
    max-height: 0;
    padding: 0;
    border: 0px;
}


.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}
.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
.percentage {
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.checklist-final {
    overflow: hidden;
    padding: 24px 32px;
    border-radius: 12px;
    border: 4px solid #788CF7;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
.checklist-final.hidden {
    max-height: 0;
    padding: 0;
    border: 0px;
}
.checklist-final__circle {
    margin: auto;
    margin-bottom: 32px;
    width: 212px;
}
.checklist-final__title {
    padding: 0;
    margin-bottom: 20px;
}
.checklist-final__title.hidden {
    display: none;
}
.checklist-final__text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #36383B;
    margin-bottom: 20px;
}
.checklist-final__text.hidden {
    display: none;
}

.checklist-final__refresh {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    color: #B6009C;
    text-decoration: none;
}

.checklist-final__diagram {
    margin: auto auto 32px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checklist-final__diagram svg path {
    transition: all 1s;
}
.checklist-final__diagram svg path.active {
    filter: grayscale(1);
    animation: greyscaleRemove 4s;
}
.checklist-final__diagram svg path.active ~ path{
    fill: #E6E6E6;
}
/*.checklist-final__diagram.low svg path.medium.active {*/
/*}*/
/*.checklist-final__diagram.low svg path.high.active {*/
/*}*/
.checklist-final__diagram_percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    color: #36383B;
    transition: all 2s;
}

.checklist-final__diagram_percentage span {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    color: #36383B;
    transition: all 2s;
}

.checklist-final__diagram_percentage.low,
.checklist-final__diagram_percentage.low span {
    color: #F77878;
}

.checklist-final__diagram_percentage.medium,
.checklist-final__diagram_percentage.medium span {
    color: #F7C478;
}

.checklist-final__diagram_percentage.high,
.checklist-final__diagram_percentage.high span {
    color: #78F77D;
}

@keyframes greyscaleRemove {

    from {
        filter: grayscale(1);
    }
    to {
        filter: grayscale(0);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}